@import './social_icons'
@import './style.styl'
a,a:hover,a:visited,a:link,a:active
    text-decoration: none
    color: inherit


*
    box-sizing: border-box
    // font-weight: 800
    font-family: Verdana,"fontawesome"

.col-2
    display: flex
    flex-flow:row
    justify-content: space-around
    fullWidth()
    @media (max-width: 901px)
        flex-flow:column

.col-sub
    flex:3
    padding: 15px 10px
    margin:0 20px

.col-main
    flex:8
    padding: 5px 20px
    @media (max-width: 901px)
        margin: 0 20px

h1,h2,h3,h4,h5,h6
    margin: 0

ul
    padding-left: 0

li
    list-style-type: none

.slide-fade-enter-active
  transition: all .3s ease
.slide-fade-leave-active
  transition: all .3s ease
.slide-fade-enter, .slide-fade-leave-active
  transform:translateX(20px)
  opacity: 0
  position:absolute

.component-fade-enter-active, .component-fade-leave-active
  transition: all .3s ease

.component-fade-enter, .component-fade-leave-active
  opacity: 0
  position:absolute
