.site-header {
  padding-top: 0px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #888
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.phone-header {
  display: none;
  visibility: hidden;
  height: auto;
  width: auto;
  padding: 20px;
  background: #222;
  top: 0px;
  right: 0px;
  position: relative;
}

.site-meta {
  position: relative;
  text-align: center;
}

.custom-title {
  opacity: 1;
  font-size: 20px;
  font-weight: 450;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  color: white;
  margin-left: 40px;
}

.custom-sub-title {
  display: block;
  opacity: 1;
  margin-top: 0px;
  font-size: 13px;
  color: white;
  margin-left: 40px;
  z-index: 100px;
}

.main-header {
  background-image: url("../assets/main_header.jpg");
  height: 220px;
}

.navbar-collapse {
  display: block;
  height: auto;
  padding-bottom: 0;
  overflow: visible;
  text-align: center;
}

.navbar-nav {
  float: left;
  padding-left: 0px;
  margin: 0;
}

.nav > li > a {
  color: #777;
  padding: 10px 15px;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}

.nav > li > a:hover {
  color: #333;
  background-color: transparent
}

.nav > li {
  float: none;
  display: inline-block;
}

.navbar .nav, .navbar .nav > li {
  float: none;
  display: inline-block;
}

/* 以MAC为准各终端适应性匹配 */
@media (max-width: 768px) {

}

@media (max-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .navbar navbar-default {
    padding: 0px;
  }

  .navbar {
    margin-top: 0px !important;
    border: none !important;
  }

  .navbar-nav > li {
    float: none;
    display: inline-block;
  }

  .navbar-nav > li.navbar-right {
    float: right !important;
  }

  .navbar-toggle {
    top: 20px;
    left: 5px;
    position: absolute;
    background: 0 0;
    display: block;
    z-index: 1000;
    border: none;
  }
}

@media (min-width: 320px) {
  .main-header {
    height: 150px;
  }
}

@media (max-width: 641px) {
  .navbar {
    margin-bottom: 3px;
  }

  .phone-header {
    visibility: visible;
    display: block;
  }

  .main-header {
    height: 0px;
    visibility: hidden;
  }

  .navbar-collapse {
    margin-left: 0px;
    height: 0px;
    visibility: hidden;
  }
}

@media (min-width: 1281px) {
  .main-header {
    height: 220px;
  }
}
