@import "../stylus/animation.styl";

.simple-article {
  align-self: center;
  align: center;
  overflow: hidden;
  background: #fff;
}

.simple-article-title {

}

.simple-article-content {
  margin-top: 20px;
  animation: slideInFromTop 2s ease-out 0s 1;
  -webkit-animation: slideInFromTop 2s ease-out 0s 1;
  word-break: break-all;
}
