.simple-article {
  align-self: center;
  align: center;
  overflow: hidden;
  background: #fff;
}

.simple-container {
  width: 92%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.simple-article-title {
  margin-bottom: -5px;
}

.simple-col {
  position: relative;
  min-height: 1px;
  padding-right: 1px;
  padding-left: 1px;
}

.simple-row {
  margin-top: 20px;
  animation: slideInFromTop 2s ease-out 0s 1;
  -webkit-animation: slideInFromTop 2s ease-out 0s 1;
  word-break: break-all;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: -10px;
}

.simple-article-content {
  margin-top: 20px;
  animation: slideInFromTop 2s ease-out 0s 1;
  -webkit-animation: slideInFromTop 2s ease-out 0s 1;
  word-break: break-all;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 400;
}
