@import './style.styl'
.widget-container
  margin-bottom: 30px

  h3
    font-weight:500
    font-size:22px
    font-family:Verdana
    color:#444
  a
    color:#e95095
    hoverPurple()
  li
    font-size:14px
    line-height:1.5em
    padding-left:18px
    position:relative
    margin:.5em 0
    vertical-align:top
    &::before
      position: absolute
      top:-1px
      left: 2px
      content: '\f105'
      font-family: fontawesome
      font-size: 18px
      opacity: .5
  .widget-selector
    font-weight:500
    font-size:22px
    font-family:Verdana
    color:#444
    text-align: center
    cursor: pointer

.post-date
    display: block;
    font-size: .9em;
    padding-top: 3px;
    opacity: .5;

.post-number
    font-size: 14px
    color:#666

.footer-widget
    width:30%
    margin: 12px
    @media (max-width:900px)
      width:100%
    h4
        color:#ccc
        font-size:20px
        font-weight:400
